html, body { background: transparent}

body[overlay='on'] {
    &[interact='on'] { background: rgba(0, 0, 0, .3) !important;}
    &[interact='off'] { background: transparent !important;}
}
body[overlay='off'] {
    background: #222 !important;
}
body[overlay='on'] {

    .alert.modal {
        background: transparent !important;
        .wrap { background: rgba(0, 0, 0, .7); }
    }

    #nav-clickout { background: transparent !important; }

    #app {
        position: fixed;
        left: 5px; top: 5px; bottom: 5px; right: 5px; overflow: auto;
        padding: 0;
        margin: 0;
        perspective: 60vmax;
    }

    &[interact='off'] {
        .ov-interact { display: none;}
    }
    &[interact='on'] {
        .ov-interact { @extend .ov-solid; }
    }

    * { text-shadow: 0 1px 3px rgba(0, 0, 0, 0.27)}
    //  #navbar {margin-top: -2em; margin-left: -2em}
    .row { display: block; }
    .row.keep { display: flex;}

    .ov {
        position: absolute;
        min-height: 5%;
        width: auto;
        padding: 0.5em;
    }

    .ov-solid {
        border-radius: 0px;
        border-top: 1px solid rgba(255, 165, 0, 0.35);
        background-color: rgba(0, 0, 0, 0.5);
        //background: repeating-linear-gradient(rgba(76, 37, 20, 0.6), rgba(76, 37, 20, 0.33) 1px, rgba(76, 37, 20, 0.6) 3px, rgba(76, 37, 20, 0.67) 4px);
        //box-shadow: 0 0 1em rgba(255, 136, 0, 0.53) inset, 0 0 1em rgba(255, 136, 0, 0.28);
    }

    .ov-top-line { left: 33%; right: 33%; top: 5%; transform: rotate3d(1, 0, 0, -35deg) scale(0.9); transform-origin: 50% 0%}
    .ov-nav { left: 33%; right: 33%; top: 11%; transform: rotate3d(1, 0, 0, -25deg) scale(0.9); transform-origin: 50% 0%}
    .ov-center { top: 25%; left: 30%; right: 30%; z-index: 20; }
    .ov-center-long { padding: 1em; left: 33%; top: 22%; right: 33%; height: 70%; max-height: 80%; overflow: auto; z-index: 10 }
    .ov-main { padding: 1em; left: 23%; top: 15%; right: 23%; height: 70%; max-height: 80%; overflow: auto; z-index: 30 }

    .ov-right-top { right: 3%; top: 25%; width: 28%; transform: rotate3d(0, 1, 0, -35deg); transform-origin: 100% 0%}
    .ov-right {right: 3%; top: 45%; width: 28%; transform: rotate3d(0, 1, 0, -35deg); transform-origin: 100% 0%}
    .ov-left-top { left: 3%; top: 25%; width: 28%; transform: rotate3d(0, 1, 0, 35deg);transform-origin: 0 100% }
    .ov-left {left: 3%; top: 45%; width: 28%; transform: rotate3d(0, 1, 0, 35deg); transform-origin: 0 100%}

}