@import '../../styles/vars';
.ui.input-search {
    &.z-overall { z-index: 200; }
    & .remove { visibility: hidden; }
    &:hover .remove { visibility: visible}
    input { @include hcaps(); }
    input:focus::placeholder { color: darken($ui-text, 25%); }
    .list { visibility: hidden; transition-duration: 300ms;}
    input:focus ~ .list { visibility: visible; transition-duration: 0ms;}
    .list {
        z-index: 2000;
        position: absolute;
        padding: 0.2em 0;
        top: 100%; width: 100%;
        background: darken($ui-bg, 3%);
        button {
            @include single_line();
            text-align: left;
            width: 100%;
            display: block;
            padding: 0.3em 0.5em;
            & > small {opacity: 0.5; display: block; }
            &.cancel { color: $orange}
        }
    }
    label .inline-msg { color: $ui-text; }
}